:root {
    /* Global color settings */
    --background-color: #1a1a1a; /* Main background color */
    --text-color: #e0e0e0; /* General text color */
    --header-text-color: #ffffff; /* Header text color */
    --input-border-color: #555; /* Input border color */
    --input-background-color: #1a1a1a; /* Input background color */
    --button-text-color: #ffffff; /* Button text color */
    --button-background-color: #008CBA; /* Button background color */
    --button-hover-color: #007B9A; /* Button hover color */
    --toggle-on-background-color: #2196F3; /* Toggle background color when checked */
    --toggle-on-color: #ffffff; /* Toggle knob color when on */
    --toggle-off-background-color: #ccc; /* Toggle background color when unchecked */
    --toggle-off-color: #ffffff; /* Toggle knob color when off */
    --table-border-color: #ddd; /* Table border color */
    --table-header-color: #f2f2f2; /* Table header background color */
    --card-background-color: #333; /* Card background color */
    --icon-color: #008CBA; /* Icon color */
    --notification-background-color: #333; /* Notification background color */
    --notification-icon-color: #008CBA; /* Notification icon color */
    --close-button-color: #ff0000; /* Close button color */
    --slider-rail-color: #1a1a1a; /* Slider rail color */
    --slider-thumb-color: #008CBA; /* Slider thumb color */
    --slider-thumb-border-color: #008CBA; /* Slider thumb border color */

    /* Font Size Variables */
    --base-font-size: 16px; /* Base font size for body */
    --h1-font-size: 2em;
    --h2-font-size: 1.75em;
    --h3-font-size: 1.25em;
    --p-font-size: 1em;
    --form-font-size: 1em;
    --input-font-size: 1em;
    --button-font-size: 1.25em;
    --button-card-font-size: 1.2em;
    --card-font-size: 1.2em;
    --table-font-size: 1em;
    --notification-font-size: 1em;
    --notification-message-font-size: 1.375em;
    --close-button-font-size: 1.25em;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--base-font-size);
}

h1, h2, h3 {
    color: var(--header-text-color); /* Common color for all headers */
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

p {
    font-size: var(--p-font-size);
    color: var(paragraph-text-color);
}

form {
    margin: 10px auto 0;
    text-align: left;
    font-size: var(--form-font-size);
    width: 70%;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: var(--input-font-size);
}

input, select {
    width: 100%;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

button {
    margin: 10px auto;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: var(--button-font-size);
    width: 75%;
}

button:hover {
    background-color: var(--button-hover-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
 
/* Slider Container */
.slider-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Remove padding from the container */
}

/* Card Class for Slider */
.card.slider-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: var(--card-font-size);
    font-weight: bold;
}

/* Centered Icon and Title */
.card.slider-card .icon {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--icon-color);
}

.card.slider-card .sensor-name {
    margin-bottom: 10px;
    color: var(--text-color);
    font-size: var(--card-font-size);
}

/* Horizontal Slider (Default) */
.horizontal-slider {
    width: 95%; /* Adjust width for the horizontal slider */
    margin: 10px auto 0; 
    padding: 0; /* Remove padding */
    -webkit-appearance: none; /* Remove default styling for Webkit browsers */
    appearance: none; /* Remove default styling */
    box-sizing: border-box;
    height: 6px; /* Track height */
}

/* Vertical Slider */
.vertical-slider {
    width: 6px; /* Width for vertical slider track */
    height: max-content; /* Height of the slider track */
    margin: 5px; /* Remove margin */
    padding: 0; /* Remove padding */
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

.vertical-slider input[type="range"] {
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
      -o-transform:rotate(270deg);
         transform:rotate(270deg);

}

/* Custom Slider Handle (Thumb) for Webkit Browsers (Chrome, Safari) */
.horizontal-slider::-webkit-slider-thumb,
.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; /* Width of the slider thumb */
    height: 25px; /* Height of the slider thumb */
    background-color: var(--slider-thumb-color); /* Custom color for thumb */
    border-radius: 4px; /* Rounded corners for the thumb, set to 0 for perfect rectangle */
    border: 2px solid var(--slider-thumb-border-color); /* Optional border around thumb */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: -10px; /* Center thumb vertically on track */
    position: relative; /* Position relative for centering */
}

/* Custom Slider Handle (Thumb) for Firefox */
.horizontal-slider::-moz-range-thumb,
.vertical-slider::-moz-range-thumb {
    width: 10px; /* Width of the slider thumb */
    height: 25px; /* Height of the slider thumb */
    background-color: var(--slider-thumb-color); /* Custom color for thumb */
    border-radius: 4px; /* Rounded corners for the thumb, set to 0 for perfect rectangle */
    border: 2px solid var(--slider-thumb-border-color); /* Optional border around thumb */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: -10px; /* Center thumb vertically on track */
    position: relative; /* Position relative for centering */
}

/* Slider Track for Webkit Browsers */
.horizontal-slider::-webkit-slider-runnable-track,
.vertical-slider::-webkit-slider-runnable-track {
    background: var(--slider-rail-color); /* Track color */
    height: 6px; /* Track height */
    border-radius: 4px; /* Rounded track */
}

/* Slider Track for Firefox */
.horizontal-slider::-moz-range-track,
.vertical-slider::-moz-range-track {
    background: var(--slider-rail-color); /* Track color */
    height: 6px; /* Track height */
    border-radius: 4px; /* Rounded track */
}

.slider_sw {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-off-background-color);
    transition: .4s;
}

.slider_sw:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-off-color);
    transition: .4s;
}

input:checked + .slider_sw {
    background-color: var(--toggle-on-background-color);
}

input:checked + .slider_sw:before {
    background-color: var(--toggle-on-color);
    transform: translateX(26px);
}

input:focus + .slider_sw {
    box-shadow: 0 0 1px var(--button-background-color);
}

input.large-checkbox {
    width: 48px;
    height: 48px;
}

.table-wrapper {
    display: inline-block;
    text-align: left;
}

.table {
    display: inline-table;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: var(--table-font-size);
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid var(--table-border-color);
}

.table th {
    background-color: var(--table-header-color);
    font-size: var(--table-font-size);
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.center-container > .card {
    width: 80%;
}

.collapsible {
    cursor: pointer;
}

.card-content {
    display: none;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}

.collapsible.expanded .card-content {
    display: block;
}

.collapsible.expanded .card-content form {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card Class */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: var(--card-font-size);
    font-weight: bold;
}

.card-info {
    margin-bottom: 5px; /* Reduce or increase this value as necessary */
}


.card .icon {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--icon-color);
}

.card .input-label {
    margin-bottom: 10px;
    color: var(--text-color);
}

.card form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card label {
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: var(--form-font-size);
}

.card input[type="text"],
.card input[type="password"],
.card input[type="number"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color); 
    color: var(--text-color);
    font-size: var(--input-font-size);
    text-align: center;
}

.card button[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--button-background-color); 
    color: var(--button-text-color);
    font-size: var(--button-card-font-size);
    cursor: pointer;
    width: auto;
}

.card button[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

/* Notification Banner */
.notification-banner {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--notification-background-color);
    color: var(--text-color);
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: var(--notification-font-size);
}

.notification-icon {
    margin-right: 15px;
    color: var(--notification-icon-color);
}

.notification-message {
    flex-grow: 1;
    font-size: var(--notification-message-font-size);
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button {
    background: var(--close-button-color);
    width: 50px;
    border: none;
    color: var(--button-text-color); 
    font-size: var(--close-button-font-size);
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
}
