:root {
    /* Global color settings */
    --background-color: #f5f5f5; /* Light gray for body background */
    --text-color: #333333; /* Dark gray for main text */
    --header-text-color: #111111; /* Almost black for headers */
    --input-border-color: #cccccc; /* Light gray for input borders */
    --input-background-color: #ffffff; /* White for input backgrounds */
    --button-text-color: #ffffff; /* White for button text */
    --button-background-color: #007bff; /* Medium blue for button background */
    --button-hover-color: #0056b3; /* Darker blue for button hover */
    --toggle-on-background-color: #4caf50; /* Green for toggle background when checked */
    --toggle-on-color: #ffffff; /* White for toggle knob when on */
    --toggle-off-background-color: #e0e0e0; /* Light gray for toggle background when unchecked */
    --toggle-off-color: #333333; /* Dark gray for toggle knob when off */
    --table-border-color: #dddddd; /* Light gray for table borders */
    --table-header-color: #f0f0f0; /* Very light gray for table headers */
    --card-background-color: #ffffff; /* White for card background */
    --icon-color: #007bff; /* Medium blue for icons */
    --notification-background-color: #cccccc; /* Bit Gray for notifications */
    --notification-icon-color: #333333; /* Dark gray for notification icons */
    --close-button-color: #f44336; /* Red for close button */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
}

h3, p {
    color: var(--header-text-color);
    font-size: 1.25em;
}

form {
    margin: 20px auto 0;
    text-align: left;
    font-size: 1em;
    width: 70%;
}

input, select, button {
    display: block;
    margin: 10px 0;
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

input, select {
    width: 100%;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--text-color);
}

button {
    margin: 10px auto;
    border: none;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 1em;
    width: 75%;
}

button:hover {
    background-color: var(--button-hover-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider_sw {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--toggle-off-background-color);
    transition: .4s;
}

.slider_sw:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--toggle-off-color);
    transition: .4s;
}

input:checked + .slider_sw {
    background-color: var(--toggle-on-background-color);
}

input:checked + .slider_sw:before {
    background-color: var(--toggle-on-color);
    transform: translateX(26px);
}

input:focus + .slider_sw {
    box-shadow: 0 0 1px var(--button-background-color);
}

input.large-checkbox {
    width: 48px;
    height: 48px;
}

.table-wrapper {
    display: inline-block;
    text-align: left;
}

.table {
    display: inline-table;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
}

.table th, .table td {
    padding: 8px;
    border-bottom: 1px solid var(--table-border-color);
}

.table th {
    background-color: var(--table-header-color);
    font-size: 1em;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.center-container > .card {
    width: 80%;
}

.collapsible {
    cursor: pointer;
}

.card-content {
    display: none;
    margin-top: 10px;
    box-sizing: border-box;
    width: 100%;
}

.collapsible.expanded .card-content {
    display: block;
}

.collapsible.expanded .card-content form {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Card Class */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.card .icon {
    font-size: 4em;
    margin-bottom: 10px;
    color: var(--icon-color);
}

.card .input-label {
    margin-bottom: 10px;
    color: var(--text-color);
}

.card form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card label {
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 1.1em;
}

.card input[type="text"],
.card input[type="password"],
.card input[type="number"] {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color); 
    color: var(--text-color);
    font-size: 1.2em;
    text-align: center;
}

.card button[type="submit"] {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: var(--button-background-color); 
    color: var(--button-text-color);
    font-size: 1.2em;
    cursor: pointer;
    width: auto;
}

.card button[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

/* Notification Banner */
.notification-banner {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--notification-background-color);
    color: var(--text-color);
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1em;
}

.notification-icon {
    margin-right: 15px;
    color: var(--notification-icon-color);
}

.notification-message {
    flex-grow: 1;
    font-size: 1.375em;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button {
    background: var(--close-button-color);
    width: 50px;
    border: none;
    color: var(--button-text-color); 
    font-size: 1.25em;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-left: 20px;
}
